---
title: ""
layout: splash
classes:
  - landing
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/school-together.jpeg
  actions:
    - label: "View latest updates"
      url: "/updates/"
excerpt: "**Kindergarten**, **Primary** and **Secondary School** in Atorshova Village, Bangladesh <br><br> School to develop village children's God-given human capacities for perceiving, thinking and acting <br><br><br><br><br><br><br>"
intro: 
  - excerpt: "Started in **2020** by **<a href='https://mothership.sg/2022/06/rahman-explosion-al-shohag-school/' target='_blank'>Rahman</a>**"
feature_row:
- image_path: assets/images/started.png
  alt: "How it started"
  title: "How it started"
  excerpt: "Discover our humble beginnings in a small village in Bangladesh"
  url: "/origins/"
  btn_label: "Read more"
  btn_class: "btn--primary"
- image_path: assets/images/founder.jpg
  alt: "About the Founder"
  title: "About the Founder"
  excerpt: "Meet Rahman, the founder of the school"
  url: "/founder/"
  btn_label: "Read more"
  btn_class: "btn--primary"
- image_path: assets/images/school-computer.jpg
  alt: "About the School"
  title: "About the School"
  excerpt: "Explore the best school in Atorshova Village"
  url: "/about/"
  btn_label: "Read more"
  btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/events-cultural.png
    alt: "School events"
    title: "School Events"
    excerpt: "Take a look at our school's vibrant events"
    url: "/events/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/donors.jpeg
    alt: "Our Donors"
    title: "Our Donors"
    excerpt: "Meet our generous donors"
    url: "/donors/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - title: "Contact Us"
    excerpt: 'Have a question? Want to get involved? Send us a message!'
    url: "/contact/"
    btn_label: "Contact Us"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}